@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Angular 6</title>


<script type="text/javascript" src="/chunk/vendor.900b80c126e7e4a6d03c.js"></script><script type="text/javascript" src="/polyfills.js"></script></head>
<body>
    <h1>Welcome to Skeleton</h1>
    <div>
        @RenderBody()
    </div>

</body>
</html>
