@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Angular 6</title>


</head>
<body>
    <h1>Welcome to Skeleton</h1>
    <div>
        @RenderBody()
    </div>

</body>
</html>
